body {
  display: flex;
  flex-direction: column;
}

/* * {
  outline: 1px solid green;
} */

main {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.header__logo {
  height: var(--size-fluid-8);
}

.navigation {
  font-size: var(--font-size-4);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--size-2);
  padding-inline-end: var(--size-2);
}

#navigation__drawer-checkbox {
  display: none;
}

.navigation__drawer-opener {
  margin: var(--size-4) var(--size-4) 0 0;
  width: var(--size-8);
  cursor: pointer;
  stroke: var(--text-1);
}

.navigation__drawer-overlay {
  display: none;
  inset: 0;
  backdrop-filter: blur(1px);
  position: fixed;
  background-color: rgba(100, 100, 100, 0.5);
}

.navigation__drawer {
  inset: 0 var(--size-fluid-8) 0 0;
  padding: var(--size-fluid-1);
  background: var(--surface-2);
  position: fixed;
  translate: -100% 0;
  transition: translate 0.5s ease-in-out;
}

#navigation__drawer-checkbox:checked ~ .navigation__drawer-overlay {
  display: block;
}

#navigation__drawer-checkbox:checked ~ .navigation__drawer {
  translate: 0 0;
}

.navigation__drawer .navigation__item {
  display: block;
  line-height: 2;
}

.navigation__item {
  color: inherit;
  text-decoration: none;
}

.content__wrapper > * {
  margin: var(--size-fluid-2);
}

.content__title {
  max-inline-size: 100%;
  text-align: center;
}

.sponsors {
  max-inline-size: 100%;
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-3);
}

.footer {
  display: flex;
  padding-inline: var(--size-fluid-2);
  height: var(--size-fluid-7);
  background: var(--surface-2);
  align-items: center;
}

.footer__link-separator {
  padding-inline: 0.5rem;
}
